h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5; 
    display: inline-block;
    }
.main{
    color: white;
    background-color: #d92027;
    padding: 2% 0 0 5%;
    }
    .tagline{
        background-color: #d92027;
        color: white;
    }
.searchinput{
     width: 50%;  
     height: 29px;
     padding: 0 0 0 18px;
     margin-left: 20px;
    }
.searchbutton{
    height: 30px;
    width:13%;
   }
.nav-item{  
    
    background-color:#d92027 ;
    padding: 2px;
   }
.navbar{
    background-color: #d92027;
    width: 100%;
    padding-top: 30px;
    position: fixed;
    }
.navbar-collapse{
    background-color:#d92027;
}

/*footer*/
.topstories{
    color: black;
    margin-top: 500px;
    background-color:black;
}
footer{
    background-color: #d92027;
    padding: 20px;
    color: rgba(255,255,255,.5);
    text-align: center;
    height: 30%;
}
footer i{
    padding: 1% .5%;
    color: rgba(255,255,255,.5);
   }
footer i:hover{
    color: white;
}
/*signin page */
.signinpage{
margin-top: 10px;

background-position: center;
font-family: sans-serif;
width: 350px;
height: 460px;
background: #d92027;
color:white;
top: 60%;
left: 50%;
position: absolute;
transform: translate(-50%,-50%);
box-sizing: border-box;
padding: 50px 30px;
border-radius: 10px;
}
.loginh1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.signinpage p{
    margin: 0;
    padding: 0;
    
}
.signinpage input{
    width: 100%;
    margin-bottom: 20px;
}
.signinpage input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color:white;
    font-weight: 500;
    font-size: 16px;
}
.signinpage input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background:black;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.signinpage input[type="submit"]:hover
{
    cursor: pointer;
    background: rosybrown;
    color: #000;
}
.signinpage a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: white;
}

/*Mobiles*/

.oppo{
   
    font-weight: 600;
}


/*men*/

.menimage{
    width:300px ;
    height:416px ;
}
.kidsimage{
    width:200px ;
    height:416px ;
}
.footimage{
    width:300px ;
    height:416px ;
}
.shoeimage{
    width:310px ;
    height:180px ;
}
/*Testimonials section*/
#testimonials{

    text-align:center;
    background-color:white ;
  
    color:black;
    margin-top: 1px;
  }
  .testimonial-img{
    
    margin: 20px;
    border-radius: 20px;
  }
  
  .carousel-img{
      padding:7% 15%;
  }
  .testimonial-img-men{
    width:330px ;
    height:400px ;
  }
  .testimonial-img-kids{
    width:200px ;
    height:416px ;
  }
  
.testimonial-img-women{
    width:400px ;
    height:320px ;
}
.testimonial-img-sports{
    width:620px ;
    height:360px ;
}
.carticon{
    text-align: center;
    padding-top: 50px;
}
.helpline{
    text-align: center;
   

}
.helplinebutton{
width: 200px;
height: 60px;


}

.helplinebutton:hover{
  color: white;
  background-color:#d92027; 
}
table {
display: inline;
}

.trackorder{
    padding-top: 30px;
}